//xs default


//md >= 992


//lg >=1200
body {
  .wrapper {
    background-color: #222;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 200px auto auto auto;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    header {
      color: lightskyblue;
      font-family: Impact,'Arial Narrow Bold',sans-serif;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      width: 75%;
      height: 200px;
      margin: 20px auto;
      h1 {
        text-align: center;
      }
      .scoring {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        .timer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin: 0 auto;
          #timer-img {
            width: 40px;
            height: 40px;
            border: 1px solid black;
            margin: 0 auto;
          }
          #time {
            margin: 20px auto;
            text-align: center;
            width: 100px;
          }
        }
        .markers {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin: 0 auto;
          #marker-img {
            width: 40px;
            height: 40px;
            border: 1px solid black;
            margin: 0 auto;
          }
          #marked {
            margin: 20px auto;
            text-align: center;
            width: 100px;
          }
        }
        .best-time {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          margin: 0 auto;
          #record {
            height: 40px;
            width: 40px;
            border: 1px solid black;
            margin: 0 auto;
          }
          #record-time {
            margin: auto;
            text-align: center;
            width: 100px;
          }
        }
      }
    }
    .gameboard {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      margin: auto;
      .rows {
        margin: 20px auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        .row {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-self: center;
          div {
            height: 20px;
            width: 20px;
            padding: 0;
            margin: 0;
            text-align: center;
            p {
              font-size: 10px;
              line-height: 10px;
              margin: 5px 0;
              font-weight: 800;
              font-family: "Lucida Console", Monaco, monospace;
            }
          }
          .square {
            background-image: url('../img/ms-square.png');
            background-color: lightgreen;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: .5px solid #444;
          }
          .mine-marker {
            background-image: url('../img/mine-marker.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: .5px solid #444;
          }
          .zero {
            background-color: lightgrey;
            border: .5px solid #444;
            color: lightgrey;
          }
          .one {
            background-color: lightgrey;
            border: .5px solid #444;
            color: blue;
          }
          .two {
            background-color: lightgrey;
            border: .5px solid #444;
            color: green;
          }
          .three {
            background-color: lightgrey;
            border: .5px solid #444;
            color: red;
          }
          .four {
            background-color: lightgrey;
            border: .5px solid #444;
            color: navy;
          }
          .five {
            background-color: lightgrey;
            border: .5px solid #444;
            color: darkgreen;
          }
          .six {
            background-color: lightgrey;
            border: .5px solid #444;
            color: darkred;
          }
          .seven {
            background-color: lightgrey;
            border: .5px solid #444;
            color: indigo;
          }
          .eight {
            background-color: lightgrey;
            border: .5px solid #444;
            color: black;
          }
          .mine {
            background-image: url(../img/bomb.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: .5px solid #444;
          }
          .explosion {
            background-color: orangered;
            border: .5px solid #444;
          }
          .aflame {
            background-color: orange;
            border: .5px solid #444;
          }
        }
      }
    }
    #clickActions {
      align-content: center;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 100px 100px 100px 1fr;
      margin: 40px;
      h3 {
        color: lightskyblue;
        margin: auto 10px;
        display: inline;
        align-self: top;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      #reveal {
        display: inline-block;
        margin: auto;
        height: 60px;
        width: 60px;
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
      #marker {
        display: inline-block;
        margin: auto;
        height: 60px;
        width: 60px;
        grid-row: 1 / 2;
        grid-column: 4 / 5;
      }
      #indicatorArrow {
        display: block;
        height: 20px;
        width: 20px;
        grid-row: 2 / 3;
        margin: auto;
      }
      .clickReveal {
        grid-column: 3 / 4;
      }
      .clickMark {
        grid-column: 4 / 5;
      }
    }
    aside {
      background-color: #555;
      border-radius: 20px;
      grid-row: 1 / 4;
      grid-column: 2 / 3;
      padding: 10px;
      font-family: Helvetica, sans-serif;
      .setup {
        background-color: #BBB;
        border-radius: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        #gridSelector {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          margin: 10px 10px;
          width: 100px;
          font-size: 12px;
        }
        #reset {
          border-radius: 5px;
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          margin: 10px;
          width: 80px;
        }
        #numRows {
          grid-row: 2 / 3;
          grid-column: 1 / 3;
          margin: 10px 20px;
          width: 100px;
          height: 18px;
          p {
            font-size: 14px;
            display: block;
            margin: 0 auto;
          }
          input {
            display: none;
          }
        }
        #numColumns {
          grid-row: 3 / 4;
          grid-column: 1 / 3;
          margin: 10px 20px;
          width: 100px;
          height: 18px;
          p {
            font-size: 14px;
            display: block;
            margin: 0 auto;
          }
          input {
            display: none;
          }
        }
        #createCustom {
          display: none;
          margin: 20px;
        }
      }
      .instructions {
        color: #DDD;
        margin: 10px;
      }
    }
    footer {
      color: lightskyblue;
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      margin: auto;
      padding: 10px;
      text-align: right;
      display: inline;
      a {
        color: lightskyblue;
        display: inline;
        text-decoration: none;
        &:hover {
          color: cyan;
        }
      }
    }
  }
}