<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Minesweeper
    link(rel="icon" type="image/png" href="../img/bomb.png")
    link(rel="stylesheet" type="text/css" href="../sass/main.scss")
    script(src="../js/main.js" defer)
  body
    .wrapper
      header
        h1 Minesweeper
        .scoring
          .timer
            img#timer-img(src="../img/stopwatch.png", alt="Seconds passed")
            h2#time ERR
          .markers
            img#marker-img(src="../img/mine-marker.png", alt="Markers placed")
            h2#marked ERR
          .best-time
            img#record(src="../img/trophy.png", alt="Best Time")
            h2#record-time ERR
      main.gameboard
        .rows
      #clickActions
        h3 On click:
        img#reveal(src="../img/reveal-example.png" alt="reveal square on click")
        img#marker(src="../img/marker-example.png" alt="place marker on click")
        img#indicatorArrow(src="../img/arrow.png" alt="click action indicator")
      aside
        .setup
          select#gridSelector(name="Size")
            option(value="Small" Default) Small
            option(value="Medium") Medium
            option#largeGrid(value="Large") Large
            option#customGrid(value="Custom") Custom
          Button#reset Reset
          #numRows
            p Rows: 
              a#numRowsText tbd
            input#numRowsInput(type="text" placeholder="Rows")
          #numColumns
            p Columns: 
              a#numColumnsText tbd
            input#numColumnsInput(type="text" placeholder="Columns")
          button#createCustom Create
        .instructions
          h3#winMessage You win!
          h3#lossMessage Sorry! Try again!
          p Minesweeper is a classic logic game with ties to early computer logic puzzle games of the 1960s. It was popularized in its current form when it was included in Windows by default in the early 1990s.
          p To play, click any square in the grid. You should see one of three things:
          ul  
            li an empty grey square
            li a number from 1 - 8
            li a mine/bomb
          p If you see an empty square or a number, that indicates the number of mines adjacent to that square (including diagonals). Your goal is to mark the locations of each mine without revealing them.
          p In the classic version, you marked mines by right-clicking, but that action isn't standardized across browsers. To switch between revealing squares and placing mine markers, click the toggle below the grid. An arrow should point to the option that is currently selected.
      footer
        p Made by Adam Grider - 
          a(href="https://www.ahgdigital.com") ahgdigital.com