<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Minesweeper
    link(rel="stylesheet" type="text/css" href="../sass/main.scss")
    script(src="../js/main.js" defer)
  body
    .wrapper
      header
        h1 Minesweeper
        .scoring
          .timer
            img#timer-img(src="../img/ms-square.png", alt="Seconds passed")
            h2#time ERR
          .markers
            img#marker-img(src="../img/mine-marker.png", alt="Markers placed")
            h2#marked ERR
          .best-time
            img#record(src="../img/ms-square.png", alt="Best Time")
            h2#record-time ERR
      main.gameboard
        .rows
      #clickActions
        h3 On click:
        img#reveal(src="../img/reveal-example.png" alt="reveal square on click")
        img#marker(src="../img/marker-example.png" alt="place marker on click")
        img#indicatorArrow(src="../img/arrow.png")
      aside
        .setup
          select#gridSelector(name="Size")
            option(value="Small" Default) Small
            option(value="Medium") Medium
            option(value="Large") Large
            option(value="Custom") Custom
          Button#reset Reset
          #numRows
            p Rows: 
              a#numRowsText tbd
            input#numRowsInput(type="text" placeholder="Rows")
          #numColumns
            p Columns: 
              a#numColumnsText tbd
            input#numColumnsInput(type="text" placeholder="Columns")
          button#createCustom Create
        .instructions
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur provident aliquam sunt fuga saepe dolor ratione praesentium expedita exercitationem modi esse quas est libero blanditiis sed eos accusamus eveniet, unde non quaerat eius accusantium nam! Obcaecati quia accusamus maxime esse nemo odio facere tempora eveniet voluptatem, sint eos quo ab minima, atque iusto quas culpa velit aliquam exercitationem laudantium.
      footer
        p Made by Adam Grider
          a(href="https://www.ahgdigital.com") ahgdigital.com